{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <p style="color:#952a81; font-family:serif"> <b> My Socials </b> </p>
        <li><a href="https://www.linkedin.com/in/ketan1741/" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/linkedIn-icon.png' %}" alt="..."></a></li>
        <li><a href="https://scholar.google.com/citations?user=vn4QMRMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/g-scholar-icon.png' %}" alt="..."></a></li>
        <li><a href="https://www.researchgate.net/profile/Ketan-Ramaneti" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/research-gate-icon.png' %}" alt="..."></a></li>
        <li><a href="https://github.com/ketan1741" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/github-icon.png' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol" style="margin-top:50px">
        <p>Copyright ©{% now 'Y' %}. Partial Design Credits - <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->