{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->

{% block title %}{% endblock %}

{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-100">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">View my Personal Projects below</h1>
            <a href="https://github.com/ketan1741?tab=repositories&q=&type=&language=&sort=stargazers" target="_blank" rel="noopener noreferrer"><span class="dateLbl">View all Projects on my GitHub Repository <img src="{% static 'images/github-icon.png' %}" alt="..." style="margin-left:10px; border-radius:40%" width="25" height="25" ></span></a>
            <p> </br> <i>PS: Click on image to view details.</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="portfolioContentMain">
        <div class="row g-3 g-md-4 g-lg-5 portfolioRow" style="margin-top:40px">
          {% for obj in object_list %}
          <div class="col-md-6 pColMain">
            <div class="pCol">
              {% if not obj.show_git %}
              <a href="{% url 'main:portfolio' slug=obj.slug %}" >
              <img src="{%static obj.image_filename %}" alt="..." class="pImg" style="margin-bottom:30px">
              </a>
              {% endif %}

              {% if obj.show_git %}
              <a href="{{obj.git_link}}" target="_blank" rel="noopener noreferrer">
              <img src="{%static obj.image_filename %}" alt="..." class="pImg" style="margin-bottom:30px">
              </a>
              {% endif %}

            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock%}